<h1>ログイン</h1>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit "ログイン" %>
    <% end %>
<%= link_to "新しいアカウントの作成", new_user_path %>