<div class="container">
  <div class="row">
    <div class="col">
      <h1>ログイン</h1>
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <div class='center-form'>
        <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email ,class:'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password ,class:'form-control'%>
        </div>
        <div class="form-group">
          <%= f.submit "ログイン" ,class:'btn btn-primary'%>
        </div>
        <% end %>
        <%= link_to "新しいアカウントの作成", new_user_path %>
        </div>
      </div>
  </div>
</div>

