<% @sum=0 %>
<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<h1>加入サービス一覧</h1>

<table border="1">
    <tr>
        <td>名前</td>
        <td>金額</td>
        <td>加入日</td>
        <td>解約予定日</td>
        <td></td>
    </tr>
    <% @permanths.each do |permanth| %>
    <% @sum= @sum + permanth.service.money %>
        <tr>
            <td><%= permanth.service.name =%></td>
            <td><%= permanth.service.money =%></td>
            <td><%= permanth.registration =%></td>
            <td><%= permanth.cancellation =%></td>
            <td><%= link_to '削除', permanth, method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
</table>

<h3>合計金額：<%= @sum =%></h3>

<%= link_to '加入サービス追加', new_permanth_path %>