<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>
<div class='container'>
  <div class='row'>
    <div class="col"></div>
    <div class="col-8">
    <h1 class='m-4'>登録</h1>
    <% if @permanth.errors.any? %>
      <h2><%= @permanth.errors.count %>件のエラーがあります。</h2>
      <ul>
          <% @permanth.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
      </ul>
    <% end %>
    <div class='center-form'>
    <div class='pb-3'>
      <a>加入しているサービスを検索してください。</a>
      <%= form_tag( {url: 'search_permanths', action: :search},id: :fs, remote: true) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索" %>
      <% end %>
    </div>
        <div id="search_result"></div>
          <%= form_with(model: @permanth, local: true ) do |form| %>
              <%= form.hidden_field :service_id %>
              <div class="form-group">
                  <%= form.label :"registration" %>
                  <%= form.text_field :registration ,class:'form-control datetimepicker-input', id: "registration", data: {toggle: "datetimepicker", target: "#registration"} %>
              </div>
              <div class="form-group">
                  <%= form.label :"cancellation" %>
                  <%= form.text_field :cancellation ,class:'form-control datetimepicker-input', id: "cancellation", data: {toggle: "datetimepicker", target: "#cancellation"} %>
              </div>
                  <%= form.submit "登録", class:'btn btn-primary'%>
          <% end %>
          <div class='pt-3'>
            <%= link_to "一覧画面にもどる", permanths_path%>
          </div>
        </div>
    </div>
    <div class="col"></div>
  </div>
</div>

  <script type="text/javascript">
      $(function () {
          $('#registration').datetimepicker({
              format: 'L'
          });
          $('#cancellation').datetimepicker({
              format: 'L'
          });
      });
  </script>