<h1>ユーザ編集画面</h1>

<div class="container">
  <div class=row>
    <div class="col-lg-4">
      <p><%= @user.name %></p>
      <p><%= image_tag  @user.icon.to_s%></p>
    </div>
    <div class="col-lg-8">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= @user.errors.count %>件のエラーがあります。</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form_with(model: @user, local: true , ) do |form| %>
            <%= form.label :name %>
            <%= form.text_field :name,class:'form-control' %>
            <%= form.label :icon %>
            <%= form.file_field :icon,class:'form-control'%>
            <%= form.label :password %>
            <%= form.password_field :password,class:'form-control' %>
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation,class:'form-control' %>

            <%= form.submit %>
        <% end %>
      </div>
  </div>
</div>