<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-6">
      <h1 class='py-4'>新しいアカウントの作成</h1>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= @user.errors.count %>件のエラーがあります。</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class='center-form'>
          <%= form_with(model: @user, local: true)  do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name,class:'form-control'%>
            </div>
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email,class:'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password,class:'form-control' %>
                <small class="text-muted">６文字以上の英数字で登録してください。</small>
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation,class:'form-control' %>
                <small class="text-muted">パスワードと同じものを入力してください。</small>
            </div>
            <%= f.submit "新しいアカウントの作成" ,class:'btn btn-primary'%>
          <% end %>
        </div>
    </div>
    <div class="col"></div>
    </div>
</div>