<div class="container">
  <div class='col'>
    <h1>管理画面：ユーザ一覧</h1>
    <div class='pb-3'>
      <a>メールアドレスを入力してください。</a>
      <%= form_tag( {url: 'search_admin_users', action: :search},id: :fs, remote: true) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索" %>
      <% end %>
    </div>
    <div id="index_area">
      <%= render partial: 'admin/users/search_user', locals: { users: @users } %>
    </div>
      <%= paginate @users %>
  </div>
</div>
