  <%= form_with(model: [service,review]) do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-grop">
      <%= form.label :"コメント" %>
      <%= form.text_area :comment ,class:"form-control",rows:"2" %>
    </div>
      <%= form.submit "送信" ,class:'btn btn-primary btn-block my-2'%>
  <% end %>