<% flash.each do |key, value| %>
	<div class="alert alert-primary text-center" role="alert">
			<%= content_tag(:div, value, class: "#{key}") %>
	</div>
<% end %>

<div class="mt-3">
  <% reviews.each do |review| %>
    <% if review.id.present? %>
    <div class="media">
      <%= image_tag review.user.icon.to_s ,class:"mr-3",height:"40px"%>
      <div class="media-body">
      <h6><%= review.user.name %>
        <% if current_user == review.user%>
          <%= link_to '✗', service_review_path(service.id,review.id), method: :delete, data: { confirm: 'コメントを削除しますか?' }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </h6>
       <p><%= review.comment %></p>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= @review.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>




